.header{
  height:55px;
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  position:fixed;
  top:0px;
  left:0;
  right:0;
  background-color: white;
  z-index:100;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(202, 202, 202);
}

.left-h{
  display:flex;
  margin-right: 30px;
  align-items: center;
}

.hamburger-menu{
  height:25px;
  margin-right: 24px;
  margin-left:24px;
}

.youtube-logo{
  height:20px;
}

.middle-h{
  flex:1;
  margin-right:20px;
  max-width: 500px;
  display:flex;
  align-items:center;
}

.search-bar{
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size:16px;
  border: 1px solid rgb(157, 157, 157);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.15);
  border-radius: 2px;

  transition: border-color 0.5s;
}

.search-bar:active{
  border-color: blue;
}

.search-bar::placeholder{
  font-family: roboto,arial;
  font-size:16px;
}

.search-button{
  height:39px;
  width:66px;
  border-width:1px;
  border-style: solid;
  border-color: rgb(157, 157, 157);
  background-color: rgb(243, 243, 243);
  margin-right:10px;
  margin-left:-1px;
}

.search-button, 
.voice-button, 
.tt-container, 
.noti-container{
  position:relative;
  font-family: Roboto,Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tool-tip,
.voice-button .tool-tip,
.tt-container .tool-tip,
.noti-container .tool-tip{
  position:absolute;
  bottom:-48px;
  background-color: rgba(96, 96, 96, 0.765);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  font-size: 13px;
  cursor:pointer;

  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tool-tip,
.voice-button:hover .tool-tip,
.tt-container:hover .tool-tip,
.noti-container:hover .tool-tip{
  opacity:1;
}

.search-icon{
  height:25px;
}

.voice-button{
  height:40px;
  width:40px;
  border-radius:20px;
  border: none;
  background-color: rgb(249, 249, 249);
}

.voice-icon{
  height:25px;
}

.right-h{
  display: flex;
  width:200px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink:0;
}

.upload-icon{
  height:25px;
}

.yt-apps-icon{
  height: 25px;
}

.noti-icons{
  height: 25px;
}

.noti{
  position:relative;
}

.noti-count{
  font-family: Roboto,Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position:absolute;
  top:-2px;
  right:-5px;
  background-color: red;
  color: white;
  border-radius: 10px;
}

.channel-pp{
  height: 40px;
  border-radius:20px;
}